In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import datetime as dt

In [2]:
dados = pd.read_csv('IBOVDiA3.csv')               # Importando os dados dp aquivo "IBOVDiA3.csv".
display(dados)

   Unnamed: 0 Unnamed: 1        CD
0       RRRP3        .SA  RRRP3.SA
1       ALPA4        .SA  ALPA4.SA
2       ABEV3        .SA  ABEV3.SA
3       AMER3        .SA  AMER3.SA
4       ASAI3        .SA  ASAI3.SA
..        ...        ...       ...
86      VALE3        .SA  VALE3.SA
87      VIIA3        .SA  VIIA3.SA
88      VBBR3        .SA  VBBR3.SA
89      WEGE3        .SA  WEGE3.SA
90      YDUQ3        .SA  YDUQ3.SA

[91 rows x 3 columns]

In [4]:
tickers = dados["CD"]                            # Selecinando apenas os tickers das ações.
data_inicial = dt.datetime(2022,5,6)
data_final    = dt.datetime(2022,5,9)
lista = tickers #["VALE3.SA", "ASAI3.SA","ABEV3.SA","RRRP3.SA" ]
df = wb.DataReader (lista, "yahoo", data_inicial, data_final) 
df

Attributes  Adj Close                                                   \
Symbols      RRRP3.SA ALPA4.SA ABEV3.SA   AMER3.SA ASAI3.SA   AZUL4.SA
Date
2022-05-06  44.000000    21.23    13.53  22.379999    14.69  19.639999
2022-05-09  40.099998    21.10    13.77  21.080000    14.53  18.910000

Attributes                                         ...   Volume           \
Symbols    B3SA3.SA BIDI11.SA BPAN4.SA   BBSE3.SA  ... VIVT3.SA TIMS3.SA
Date                                               ...
2022-05-06    11.77     13.01     8.49  25.030001  ...  1817400  4799500
2022-05-09    11.81     12.33     8.22  25.370001  ...  1235600  5066600

Attributes                                                            \
Symbols     TOTS3.SA UGPA3.SA  USIM5.SA  VALE3.SA  VIIA3.SA VBBR3.SA
Date
2022-05-06  15580700  6451200  12090200  25138900  46017400  8855400
2022-05-09  11784400  5778900   8538900  28973000  33986100  5804300

Attributes
Symbols     WEGE3.SA YDUQ3.SA
Date
2022-05-06  12993900  2300300
2022-05-09   6359600  1353700

[2 rows x 546 columns]

In [5]:
df['Close'] = df['Close'].pct_change()           # Calculando a variação diária da ação.

test = df[['Close']].round(4)*100    # Selecionando a coluna "Close" e multiplicando por 100 as cotações da linha 01.
                                     # Colocando 2 colchetes, cria-se um data freme. Essa função ocorre graças ao pandas. 
test

Attributes    Close                                                        \
Symbols    RRRP3.SA ALPA4.SA ABEV3.SA AMER3.SA ASAI3.SA AZUL4.SA B3SA3.SA
Date
2022-05-06      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-05-09    -8.86    -0.61     1.77    -5.81    -1.09    -3.72     0.34

Attributes                              ...                             \
Symbols    BIDI11.SA BPAN4.SA BBSE3.SA  ... VIVT3.SA TIMS3.SA TOTS3.SA
Date                                    ...
2022-05-06       NaN      NaN      NaN  ...      NaN      NaN      NaN
2022-05-09     -5.23    -3.18     1.36  ...     0.97    -0.68    -8.26

Attributes
Symbols    UGPA3.SA USIM5.SA VALE3.SA VIIA3.SA VBBR3.SA WEGE3.SA YDUQ3.SA
Date
2022-05-06      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2022-05-09    -1.89    -0.82    -3.99    -2.53     -2.7    -0.55    -1.98

[2 rows x 91 columns]

In [6]:
ibov = test.iloc[1].round(3)              # Buscando os dados da linha 01.
sorted (ibov)                             # sorted é usado para colocar em ordem crescente

[-12.22,
 -9.21,
 -8.86,
 -8.26,
 -7.91,
 -7.25,
 -6.86,
 -5.92,
 -5.81,
 -5.55,
 -5.23,
 -4.71,
 -4.67,
 -4.22,
 -4.08,
 -3.99,
 -3.93,
 -3.8,
 -3.78,
 -3.72,
 -3.57,
 -3.51,
 -3.33,
 -3.32,
 -3.29,
 -3.24,
 -3.18,
 -2.7,
 -2.53,
 -2.28,
 -2.25,
 -2.24,
 -2.21,
 -2.2,
 -2.02,
 -2.0,
 -1.98,
 -1.98,
 -1.89,
 -1.84,
 -1.72,
 -1.68,
 -1.42,
 -1.27,
 -1.21,
 -1.14,
 -1.09,
 -1.01,
 -0.83,
 -0.82,
 -0.7,
 -0.68,
 -0.66,
 -0.61,
 -0.55,
 -0.53,
 -0.5,
 -0.37,
 -0.33,
 -0.32,
 -0.32,
 -0.23,
 0.11,
 0.29,
 0.34,
 0.37,
 0.59,
 0.6,
 0.65,
 0.71,
 0.85,
 0.9,
 0.97,
 1.06,
 1.18,
 1.23,
 1.3,
 1.36,
 1.46,
 1.59,
 1.67,
 1.74,
 1.75,
 1.77,
 1.77,
 1.83,
 1.86,
 2.24,
 2.52,
 2.78,
 2.81]

In [7]:
test = pd.DataFrame(ibov)
test

                     2022-05-09
Attributes Symbols
Close      RRRP3.SA       -8.86
           ALPA4.SA       -0.61
           ABEV3.SA        1.77
           AMER3.SA       -5.81
           ASAI3.SA       -1.09
...                         ...
           VALE3.SA       -3.99
           VIIA3.SA       -2.53
           VBBR3.SA       -2.70
           WEGE3.SA       -0.55
           YDUQ3.SA       -1.98

[91 rows x 1 columns]

In [8]:
ibov.to_excel('ibov_cotação.xlsx')       # Exportando via arquivo xlsx.

In [9]:
# .index